@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #6895c2;
    border-radius: 100vh;
    /* border: 2px solid #2c3e50; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #2c3e50;
  }
}