/* style document 
 * 
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Elegant color scheme */
:root {
    --primary-color: #2c3e50;
    /* Dark blue-gray */
    --accent-color: #3498db;
    /* Dodger blue */
    --text-color: #ecf0f1;
    /* Light grayish silver */
}

/* Basic styling for the header */
.header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Styling for the navigation */
.nav-items ul {
    list-style-type: none;
    display: flex;
}

.nav-items li {
    padding: 10px 20px;
    cursor: pointer;
}

/* Styling for the links */
.nav-items li:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

.title {
    width: 56px;
    height: 56px;
}



.restaurantCard {
    width: 300px;
    min-height: 340px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.restaurantCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.restaurantCard h2 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
    text-align: left;
}

/* Additional styles for specific elements */
.restaurantCard h3 {
    font-style: italic;
    color: #555;
    text-align: left !important;
}

.restaurantCard p {
    font-weight: bold;
    color: #e44d26;
    text-align: left !important;
    /* You can choose a color for the rating */
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 18px;
}

.search-input {
    width: 100%;
    padding: 7px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.search-btn {
    width: 150px;
    padding: 8px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.search-btn .icon {
    margin-right: 10px;
    width: 14px;
    height: 14px;
}
/* Optional: Add hover effect to the button */
.search-btn:hover {
    background-color: #45a049;
}

/* Shimmer  */
.shimmer {
    width: 300px;
    height: 320px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: rgb(248, 246, 246);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.shimmer .img {
    width: 100%;
    height: 200px;
    background-color: #d3d3d3;
    object-fit: cover;
    border-radius: 8px;
}
.shimmer h2 {
    width: 100%;
    height: 1.2em;
    background-color: lightgray;
}

.shimmer h3 {
    width: 100%;
    height: 1em;
    background-color: lightgray;
}

.shimmer p {
    width: 100%;
    height: 1em;
    background-color: lightgray;
}

.shimmer-search .search-input {
    height: 34px !important;
    background-color: lightgray !important;
}
.shimmer-search .search-btn {
    height: 34px !important;
    background-color: lightgray !important;
}

/* log button */
.btn-container {
    display: inline-block;
}

.login-btn {
    min-width:90px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


/* footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer h3 {
  color: #fff;
}

.footer p {
  margin: 0;
}

.footer-left,
.footer-right {
  flex: 1;
}

.footer-left {
  margin-right: 20px;
}


/* NotFound.css */

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.not-found-text {
  font-size: 6rem;
  color: #e74c3c; /* Red color */
  margin-bottom: 10px;
}

.not-found-description {
  font-size: 1.5rem;
  color: #555;
}

/* AboutUs.css */

.about-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px);
}

.about-us-content {
  width: 50%;
  text-align: center;
  max-width: 600px;
}
.about-us-profile {
  width: 50%;
  text-align: center;
  max-width: 600px;
  display: flex;
  justify-content: center;
}
.about-us-heading {
  font-size: 2.5rem;
  color: #3498db; /* Blue color */
  margin-bottom: 20px;
}

.about-us-description {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 15px;
}


/* ContactUs.css */

.contact-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px);
}

.contact-us-content {
  text-align: center;
  max-width: 600px;
}

.contact-us-heading {
  font-size: 2.5rem;
  color: #27ae60; /* Green color */
  margin-bottom: 20px;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 1rem;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
}

button {
  background-color: #3498db; /* Blue color */
  color: #fff;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #2980b9; /* Darker blue color on hover */
}


.goback {
  color: orange; 
}
.goback:hover {
  text-decoration: underline;
}



/* RestaurantPage.css */
.restaurant-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

/* RestaurantDetails.css */

.restaurant-details {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 5px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
}

.restaurant-details img {
  max-width: 100%;
  width: 250px;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.restaurant-details h2 {
  color: #333;
  margin-bottom: 5px;
}

.restaurant-details h3 {
  color: #555;
  margin-bottom: 10px;
}

.restaurant-details p {
  color: #777;
  margin-bottom: 0;
}

/* restaurant menu */
.restaurant-menu {
  width: 60%;
  overflow-y: scroll;
  margin:5px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.restaurant-menu .rescard {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.restaurant-menu .rescard .img {
  margin-right: 20px;
}
.restaurant-menu .rescard .img img {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}
.restaurant-menu h2 {
  color: #333;
  margin-bottom: 5px;
}

.restaurant-menu h3 {
  color: #555;
  margin-bottom: 10px;
}

.restaurant-menu p {
  color: #777;
  margin-bottom: 0;
}
/* ErrorMessage.css */

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px);
}

.error-box {
  background-color: #ffcccc;
  border: 1px solid #ff6666;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-icon {
  font-size: 24px;
  margin-bottom: 8px;
}

.error-message {
  margin: 0;
  color: #ff3333;
  font-weight: bold;
}


.user-profile {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-info {
  flex-grow: 1;
}

.user-info h2 {
  font-size: 1.2em;
  color: #333;
}

.user-info h3 {
  font-size: 1em;
  color: #666;
}

.user-info p {
  font-size: 0.9em;
  color: #888;
}


.spinner-contanier {
  width: 100%;
  height: calc(100vh - 130px);
  display: flex;
  justify-content: center;
  align-items: center;
}